ul{
    list-style-type: none;
    background-color: rgb(40, 40, 74);
    color: white;
    height: 60px;
    text-align: center;
    padding-bottom: 5px;
    
}
ul li{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    color: white;
         background-color: rgb(40, 40, 74);
   height: 45px;
    
}
ul li:hover{
         color: black;
         background-color: goldenrod;
         

}
#a{
    font-weight: bold;
    font-size: 25px;
    background-color:rgb(145, 185, 85);
}
#b{
    color: brown;
    margin-top: 10px;
    font-size: 18px;

}
*{
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: chocolate;
}
a:hover{
    color:black ;
    background-color: goldenrod;
}
